.container
  br
  h1 CNIT ADMIN
  br
  form(style="margin-bottom:0")
    select()
      option name
      option last_name
      option email
      option cedula
      option organization
      option city
      option type_of_payment
      option payment_number
      option payment_date
      option payment_ammount
      option tickets_stud
      option tickets_else
      option special_code
      option state
    input
  a#add.btn.btn-primary +
  a#find.btn.btn-primary Buscar
  #results
script(src="/js/admin.js")
