.floating
  .white
    img(src='http://i.imgur.com/Y7xzF.png')
  .black
    | 1ER CONGRESO NACIONAL
    br
    | DE
    b  INNOVACIÓN TECNOLÓGICA
  .trans
    b
      | 30 DE JULIO
      br
      | AUDITORIO CASA ITALIA DE MARACAY
.clearfix
br
.clearfix
table#menu
  tr
    td Inicio
    td El lugar
    td Los ponentes
    td Más sobre CDSTIC
#content
  | &nbsp;
