.container
  header#header.row
    .span12
      .row
        .span5.hidden-phone.hidden-tablet
          img(src='http://i.imgur.com/99dMZ.png')
        .span7
          ul
            li
              h1 1ER CONGRESO NACIONAL DE
              h1 INNOVACIÓN TECNOLÓGICA
            li
              h3 AUDITORIO CASA DE ITALIA DE MARACAY
              h3 30 DE JUNIO
      #navigation
        ul.nav.nav-pills.pull-left
          li
            a(href='#evento') El evento
          li
            a(href='#ponencias') Las ponencias
          li
            a(href='#lugar') El lugar
          li
            a(href='#inscripcion') Inscripción
          li
            a(href='#contacto') Contacto
          li
            a(href='#patrocinadores') Patrocinadores
          li
            a(href='#cdstic') CDSTIC
        ul.nav.nav-pills.pull-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Enlaces
              b.caret
            ul.dropdown-menu
              li
                a(href='http://www.google.com') CDSTIC
  section#evento.row
    .span12
      h2 EVENTO
      .row
        .span4
          p.
            El Primer Congreso Nacional de Innovación Tecnológica, con sede en la imponente Casa de Italia de Maracay se convierte en zona de convergencia para lo mejor en innovación y desarrollo tecnológico.
            Promoviendo la aplicación del conocimiento y propiciando la tecnológica entre los entes educativos y empresariales del País. Será un espacio para el intercambio de información y conocimientos,
            entre profesionales, científicos, ingenieros, técnicos, empresarios, estudiantes y público en general, interesados en investigar, promover, analizar y conocer sobre el avance de las innovaciones tecnológicas
            en el campo de las Tecnologías de Información y Comunicación, Ingeniería de Sistemas, e Informática.
        .span4
          p.
            Este evento es posible gracias al esfuerzo del equipo de proyectos Centro de Desarrollo de Software y Tecnologías de Comunicación y Telecomunicaciones (CDSTIC) de la Universidad Tecnológica del Centro (UNITEC),
            un grupo de estudiantes comprometidos a la investigación del desarrollo y comerciabilidad de tecnologías modernas,
            con la colaboración de empresas como TecnoSoluciones, con visiones similares, todos comprometidos con el éxito de este encuentro de individuos interesados en hacer la innovación posible en Venezuela.
        .span4
          h3 Beneficios:
          ul.beneficios
            li Certificado Avalado por la Universidad Tecnológica del Centro.
            li Acceso a todas las conferencias, workshops y demostraciones.
            li Inscripción en el boletín de noticias de CDSTIC.
            li Documentación del Congreso.
            li Refrigerios.

  section#ponencias.row
    .span12
      h2 PONENCIAS
      .row-fluid.presentation
        .span6
          .row-fluid
            .span9
              h3 En la mañana
      .row-fluid.presentation
        .span4
          .row-fluid
            .span12
              h3 Bienvenida
              p Un representante de la Universidad Tecnológica del Centro abrirá el evento, haciéndoles llegar las mejores ideas y motivos para incentivar a estudiantes y profesionales a formarse de manera integra, sobre tecnologías innovadoras y como estas pueden ser aplicada exitosamente en los negocios.
        .span8
          .row-fluid
            .span3.hidden-phone
              img(src='/img/web-logos.png')
            .span9
              h3 La Web 2.0 y el Software como Servicio
              h4
                a(href="http://juliocalvo.net/", target="_blank") Julio Calvo
              p Webmaster con más de 10 años de experiencia en la industria del desarrollo web, Julio Calvo nos hablará sobre las tendencias de las tecnologías web de última generación y cómo pueden ser aprovechadas para exponer sus marcas y para ofrecer un mejor servicio al cliente.
      .row-fluid.presentation
        .span6
          .row-fluid
            .span3.hidden-phone
              img(src='/img/cloud.png')
            .span9
              h3 Computación en la Nube
              h4 Oscar Tejada
              p Especialista en seguridad informática y en temáticas de los servicios en la nube, Oscar Tejada discutirá las nuevas tendencias de comunicación, almacenamiento y procesamiento de datos en servidores externos a través de internet, las tecnologías que hoy en día utilizan las empresas más grandes de tecnología y que hacen posible la existencia de toda clase de aplicaciones.
        .span6
          .row-fluid
            .span3.hidden-phone
              img(src='/img/social.png')
            .span9
              h3 Social Media Empresarial
              h4 Daniel Rodriguez, 
                a(href='http://twitter.com/tecnodaniel') @tecnodaniel
              p Más de 25 años de experiencia profesional en el desarrollo de tecnologías industriales y para empresas, a nivel internacional, además de más de 10 años como emprendedor, Daniel Rodríguez llega con un tema sumamente actualizado, nada más y nada menos que las redes sociales y cómo aprovecharlas al máximo para dar a conocer a tu empresa y para captar a los más fieles clientes.
      .row-fluid.presentation
        .span6
          .row-fluid
            .span9
              h3 En la tarde
      .row-fluid.presentation
        .span6
          .row-fluid
            .span3.hidden-phone
              img(src='http://asset4.con-cafe.com/logocc2011nuevo.jpg')
            .span9
              h3 Innovación Tecnológica
              h4 Por definir, 
                a(href="http://con-cafe.com/") Con-Cafe.com
              p Un representante del medio de comunicación y difusión en línea Con-Cafe, nos hablará de las últimas tecnologías que representan el hito en innovación tecnológica, un tema de suma importancia y que pocos podrían dar mejor, la innovación y cómo llegar a ella, sus raíces en la creatividad, de qué manera se hace posible y cómo inspirarnos para sorprender el mercado con ideas que superen paradigmas de excelencia.
        .span6
          .row-fluid
            .span3.hidden-phone
              img(src='http://www.newformat.se/bilder/produktbilder/oracle-cloud-office-red-icon-256x256.png')
            .span9
              h3 Cloud Computing Confiable
              h4 Carlos Molina
              p Ingeniero desarrollador de Tecnologías ORACLE, JAVA EE y Modelos para computación en la nube. Experiencia de nueve años en diseño, desarrollo, testeo e implementación de sistemas a nivel de software, plataforma, infraestructura y modelo de negocios. Especialista en modelado de arquitecturas y desarrollo de aplicaciones empresariales bajo JAVA EE6 y herramientas compatibles ORACLE y asociados.
      .row-fluid.presentation
        .span4
          .row-fluid
            .span3.hidden-phone
              img(src='http://wish-cake.com/common/images/cupcakes/coffee-break-cupcake.gif')
            .span9
              h3 Break
              h4 Descanso, para hablar y procesar lo visto.
              p 25 minutos de descanso con un bocadillo y algo de tomar, para conversar sobre lo visto, establecer un primer contacto para futuras relaciones de negocio y tomar aire en las instalaciones cinco estrella del Hotel Maracay.
        .span8
          .row-fluid
            .span3.hidden-phone
              img(src='http://i.imgur.com/YfqqW.jpg')
            .span9
              h3 Motivados para la Innovación
              h4 Emerson Ramírez,&nbsp;
                a(href='http://twitter.com/emersonramirezs') @emersonramirezs
              p E. Ramírez, experto conferencista en materia de ventas, hará uso de su expereincia para resumir las herramientas aprendidas en el día, además de exponer un análisis de cómo podemos entrar a la acción, dando un paso adelante en el mercado Venezolano a través de la innovación tecnológica.
      .row-fluid.presentation
        .span6
          .row-fluid
            .span5
              img(src='http://i.imgur.com/F0MU9.png', style="width:366px")
              img(src='http://i.imgur.com/llEEM.jpg')
            .span7
              h3 ¡Workshops!
              p Una galería de productos y servicios altamente innovadores será expuesta en los pasillos de salida, con información sobre sus usos, ofertas exclusivas ¡Y más!, un cierre lleno de <strong>sorpresas</strong>, para dar inicio a un sábado de fiestas, pero también ideal para irse a descansar y pensar en nuevas ideas.
        .span6
          .row-fluid
            .span3
              img(src='/img/zip.png')
            .span7
              h3 Cierre
              h4 Ing. Alexandra, UBA.
              p Alexandra nos hablará sobre la innovación tecnológica en las universidades, dando ejemplo de que con dedicación y trabajo en equipo se pueden superar las fronteras y hacer llegar nuevas ideas a todos.

  section#lugar.row
    .span12
      h2 EL LUGAR
      .row-fluid
        .span4.hidden-phone
          .stack
            img(src='/img/club1.jpg')
          small Entrada de la Casa Italia de Maracay
        .span4.description
          p.place-intro El primer CNIT se llevará a cabo el día 
            strong 30 de Junio 
            | del 2012, a partir de las 
            strong 8:00am 
            | hasta las 
            strong 5:00pm
            |, en las instalaciones del teatro de la 
            strong Casa Italia Maracay 
            | con capacidad para 
            strong 400 
            | personas
          address.place-block
            strong Dirección
            br
            | Calle Los Nísperos No. 1
            br
            | Plaza Italia, Urb. La Floresta
            br
            | Maracay, Edo. Aragua.
        .span4.hidden-phone.hidden-tablet
          include includes/maps.html

  section#inscripcion.row
    .span12
      h2 INSCRIPCIÓN
      h3 Sigue estos pasos para inscribirte
      .row-fluid.steps
        .span4
          .row-fluid
            .span3
              span 1
            .span9
              p Verifica el monto que debes cancelar para tu inscripción en la tabla de&nbsp;
                a(href='#tarifas') tarifas
                |  que disponemos más abajo.
        .span4
          .row-fluid
            .span3
              span 2
            .span9
              p Deposita el monto correspondiente en la cuenta corriente del 
                strong Banco del Sur
                | , número: 
                code 0157-0061-11-376120-1080
                br
                | a nombre de la 
                strong Universidad Tecnológica del Centro
                |  RIF: 
                code J-07546986-0
        .span4
          .row-fluid
            .span3
              span 3
            .span9
              p Obten tu número de inscripción llenando la planilla que se encuentra disponible aquí:
                a.btn.btn-primary(href='#myModal',data-toggle='modal',style="width:150px;font-weight:bold") Planilla de Inscripción

      .row-fluid.steps
        .span4
          .row-fluid
            .span3
              span 4
            .span9
              p Deberás presentar tu número de inscripción y documento de identidad en las puertas del evento.
              p En caso de ser estudiante, debes presentar carnet o constancia que te acredite como tal.

        .span8
          .row-fluid
            .span12
              a(name='tarifas')
              table.table.table-bordered.table-striped
                thead
                  tr
                    th(colspan='3') Tarifas
                  tr
                    th Tipo de entrada
                    th Antes del 15 de Junio 2012
                    th Desde el 15 de Junio hasta el día del evento
                tbody
                  tr
                    td Estudiante
                    td Bs. 200
                    td Bs. 250
                  tr
                    td Profesional y público general
                    td Bs. 400
                    td Bs. 450
  section#contacto.row
    .span12
      h2 CONTACTO
      h3 Números de contacto
      a(name='numeros')
      .row-fluid.numbers
        .span3
          h3 Doreina Peña
          h4 Coordinadora Logística, CDSTIC
          p Teléfonos
          ul
            li
              code (0414) 463.58.39
        .span3
          h3 Ricardo Gonzalez
          h4 Coordinador Logística, CDSTIC
          p Teléfonos
          ul
            li
              code (0412) 871.25.41
            li
              code (0414) 494.58.83
        .span3
          h3 Luis Castro
          h4 Coordinador Mercadeo, CDSTIC
          p Teléfonos
          ul
            li
              code (0414) 438.74.28
        .span3
          h3 Daniel Rodríguez
          h4 Coordinador General, CDSTIC
          p Teléfonos
          ul
            li
              code (0414) 943.67.59
            li
              code (0414) 456.78.22
      .row-fluid.numbers
        .span12
          hr
          h4 Universidad Tecnológica del Centro
          code (0245) 564.70.92 / 564.66.77


  section#patrocinadores.row
    .span12
      h2 PATROCINADORES
      h3 Este evento es posible gracias a:
      .row-fluid
        a(href='http://tecnosoluciones.com/')
          img(src='http://i.imgur.com/llEEM.jpg')
        a(href='http://www.casaitaliamaracay.com/')
          img(src='http://i.imgur.com/OFeF6.jpg')
        a(href='http://lourtec.com/')
          img(src='http://i.imgur.com/dOGHr.png')
      .row-fluid
        a(href='http://www.unitec.edu.ve/')
          img(src='http://www.unitec.edu.ve/img/logoUnitec.png')
        a(href='http://www.uba.edu.ve/')
          img(src='http://www.ccnpg.gob.ve/img/logos_inst/uba.gif')
      .row-fluid
        a(href='http://twitter.com/CDS_tic')
          img(src='http://i.imgur.com/MtrQI.png')
        a(href='http://twitter.com/CDS_tic')
          img(src='http://i.imgur.com/LNJbQ.jpg')
      .row-fluid
        .span12
          hr
          h3 ¿Deseas apoyarnos y colocar tu logo aquí?
          p Visita nuestros&nbsp;
            a(href='http://sadasant.com/Carta-de-Patrocinio.pdf') Planes de Patrocinio
  section#cdstic.row
    .span12
      h2 CDSTIC
      p Este evento es posible gracias al esfuerzo del equipo de proyectos Centro de Desarrollo de Software y Tecnologías de Comunicación y Telecomunicaciones (CDSTIC) de la Universidad Tecnológica del Centro (UNITEC), un grupo de estudiantes comprometidos a la investigación del desarrollo y comerciabilidad de tecnologías modernas.
      br

  section#modal.row
    .span12
      .row
        #myModal.modal.hide.fade
          .modal-header
            button(data-dismiss='modal',type='button').close ×
            h3 Registro de participante
          .modal-body
            form.form-horizontal#registryForm
              .fielset
                .control-group
                  label.control-label Nombre
                  .controls
                    input.input-large#registry-name(name="name",type="text",placeholder="Nombre")
                    span.help.hidden Debe introducir su nombre
                .control-group
                  label.control-label Apellido
                  .controls
                    input.input-large#registry-last_name(name="last_name",type="text",placeholder="Apellido")
                    span.help.hidden Debe introduccir su apellido
                .control-group
                  label.control-label Correo
                  .controls
                    input.input-large#registry-email(name="email",type="text",placeholder="Correo")
                    span.help.hidden Debe introducir un correo válido
                .control-group
                  label.control-label Cedula de Identidad
                  .controls
                    input.input-large#registry-cedula(name="cedula",type="text",placeholder="Cedula")
                    span.help.hidden Debe introducir su Cedula de Identidad
                .control-group
                  label.control-label Organización
                  .controls
                    input.input-large(name="organization",type="text",placeholder="Organización")
                .control-group
                  label.control-label Ciudad
                  .controls
                    input.input-large(name="city",type="text",placeholder="Ciudad")
                .control-group
                  label.control-label ¿Qué te animó a participar?
                  .controls
                    input.input-large(name="reference",type="text",placeholder="Nombre o referencia")
                .control-group
                  label.control-label ¿Estudiante UNITEC?
                  .controls
                    input(type="checkbox", name="unitec") Sí
                .control-group.fapi.hide
                  label.control-label ¿Harás entrega de un ensayo para obtener los puntos de FAPI del trimestre Septiembre-Diciembre?
                  .controls
                    input(type="checkbox", name="fapi") Sí
                .control-group
                  label.control-label ¿Estudiante UBA?
                  .controls
                    input(type="checkbox", name="uba") Sí
                .control-group
                  label.control-label Entradas estudiantes
                  .controls
                    .input-prepend.input-append(data-type="stud")
                      input.input-xsmall(name="tickets_stud", type="text", id="tickets_stud ", placeholder="Estudiantes", disabled="disabled", autocomplete="off", value="0 x 250")
                      button.btn(type="button") +
                      button.btn(type="button") -
                .control-group
                  label.control-label Entradas general
                  .controls
                    .input-prepend.input-append(data-type="prof")
                      input.input-xsmall(name="tickets_prof", type="text", id="tickets_prof", placeholder="General", disabled="disabled", autocomplete="off", value="0 x 450")
                      button.btn(type="button") +
                      button.btn(type="button") -
                .control-group
                  label.control-label Monto de total
                  .controls
                    #total-ammount 0 Bs
                .control-group
                  label.control-label Metodo de Pago
                  .controls
                    select.select#registry-type_of_payment(name='type_of_payment')
                      option Seleccionar Tipo de Pago
                      option(value="deposito") Deposito
                      option(value="transferencia") Transferencia
                    span.help.hidden Debe seleccionar un método de pago
                .control-group
                  label.control-label Numero de Transacción
                  .controls
                    input.field-large#registry-payment_number(name='payment_number',type="text",placeholder='Numero de Deposito/Transferencia', autocomplete="off")
                    span.help.hidden Debe colocar un número de depósito o transferencia
                .control-group
                  label.control-label Fecha de Transacción
                  .controls
                    input.input-xxsmall(type="text",id="payment-day-field"  , placeholder='día', value=''     , style="margin-right:10px", autocomplete="off")
                    input.input-xxsmall(type="text",id="payment-month-field", placeholder='mes', value='6'    , style="margin-right:10px", disabled='true', autocomplete="off")
                    input.input-xxsmall(type="text",id="payment-year-field" , placeholder='año', value='2012' , style="margin-right:10px", disabled='true', autocomplete="off")
                    span.help.hidden Debe colocar un día válido
                .info
                  | Al enviar este formulario le haremos llegar la verificación de sus datos en menos de <b>24 horas</b>
                  |  al correo que nos indique.
                  br
                  br
                  | Si tiene algún problema, contáctenos a los <b><a href="#contacto">números de contacto</a></b> ubicados al final de esta página.
          .modal-footer
            .error
            a.btn(data-dismiss='modal',href='#') Cerrar
            a.btn.btn-primary#sendData(href='#contacto') Enviar

  footer
    hr
  script(src="/js/index.js")
