.floating
  .white
    img(src='http://i.imgur.com/Y7xzF.png')
  .black
    | 1ER CONGRESO NACIONAL
    br
    | DE
    b  INNOVACIÓN TECNOLÓGICA
  .trans
    b
      | 30 DE JULIO
      br
      | AUDITORIO CASA DE ITALIA DE MARACAY
.clearfix
br
.clearfix
table#menu
  tr
    td INICIO
    td EL LUGAR
    td LOS PONENTES
    td MÁS SOBRE CDSTIC
#content
  p
    | El Primer Congreso Nacional de Innovación Tecnológica, con sede en la imponente Casa de Italia de Maracay se convierte en zona de convergencia para lo mejor en innovación y desarrollo tecnológico.
    | Promoviendo la aplicación del conocimiento y propiciando la tecnológica entre los entes educativos y empresariales del País. Será un espacio para el intercambio de información y conocimientos,
    | entre profesionales, científicos, ingenieros, técnicos, empresarios, estudiantes y público en general, interesados en investigar, promover, analizar y conocer sobre el avance de las innovaciones tecnológicas
    | en el campo de las Tecnologías de Información y Comunicación, Ingeniería de Sistemas, e Informática.
    br
    br
    | Este evento es posible gracias al esfuerzo del equipo de proyectos Centro de Desarrollo de Software y Tecnologías de Comunicación y Telecomunicaciones (CDSTIC) de la Universidad Tecnológica del Centro (UNITEC),
    | un grupo de estudiantes comprometidos a la investigación del desarrollo y comerciabilidad de tecnologías modernas,
    | con la colaboración de empresas como TecnoSoluciones, con visiones similares, todos comprometidos con el éxito de este encuentro de individuos interesados en hacer la innovación posible en Venezuela.
  .blocks
    .block
      h2 TEMAS:
      p
        ul.temas
          li.tema(style="color:#3F9EFD;") Social Media Empresarial
          li.tema(style="color:#DC25E2") El futuro de la web 2.0
          li.tema(style="color:#ED0235") Computación en la nube
          li.tema(style="color:#EB6E00") Software como un servicio
          li.tema(style="color:#00C500") La innovación en tiempos difíciles
        br
    .block
      h2 TARIFAS:
      p
        ul
          li
            b Estudiantes:
            br
            | 200Bs de Inscripción hasta el 15 de Junio de 2012.
            | 250Bs Del 15 de Junio hasta el día del evento.
          li
            b Profesional y Público en General:
            br
            | 400Bs de Inscripción hasta el 15 de Junio de 2012.
            | 450Bs Del 15 de Junio hasta el día del evento.
            br
            br
    .clearfix
  .blocks
    .block
      h2 ¡INSCRIBETE YA!
      p
        ol
          li Deposita en la cuenta corriente del Banco del Sur número: 0157-0061-11-376120-1080
          li Solicita tu número de inscripción llamando a los teléfonos:
             br
             br
             b Universidad Tecnológica del Centro:
             |  (0245) 564.70.92 - 564.66.77
             br
             br
             b Representantes de CDSTIC:
             ul
               li Doreina Peña (Coordinadora de Logistica, CDSTIC). Tlf: 0414-4635839
               li Ricardo Gonzalez (Coordinador de Logistica, CDSTIC). Tlf: 0412-8712541/0414-4945883
               li Luis Castro (Coordinador de Mercadeo, CDSTIC). Tlf: 0414-4387428
               li Daniel Rodríguez Daniel Rodríguez (Coordinador General, CDSTIC). Tlf: 0414-9436759/0414-4567822
    .block
      h2 BENEFICIOS:
      p
        ul
          li Certificado Avalado por la Universidad Tecnológica del Centro.
          li Acceso a todas las conferencias, workshops y demostraciones.
          li Inscripción en el boletín de noticias de CDSTIC.
          li Documentación del Congreso.
          li Refrigerios.
  .clearfix
.clearfix
#foot
  img(src="http://i.imgur.com/sxjV1.png")
  img(src="http://www.unitec.edu.ve/img/logoUnitec.png")
  .rights
    | Copyright 2012 cnit.org.ve

