// Twitter
| <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

table#menu
  tr
    td.active
      a(href="/")
        | ENTÉRATE
    td
      a(href="/participa/")
        | PARTICIPA
    td
      a(href="/nosotros/")
        | SOBRE NOSOTROS
#content
  .main
    p
      | El <b>Congreso Nacional de Innovación Tecnológica</b>, con sede en la <b>Casa de Italia de Maracay</b> será zona de convergencia para las mejores ideas en <b>innovación y desarrollo tecnológico</b> en el país.
      | Conoce y comparte con profesionales, ingenieros, técnicos y empresarios en el campo de las Tecnologías de Información y Comunicaciones, sé parte de quienes queremos contribuir con el desarrollo de tecnologías innovadoras en <b>Venezuela</b>.
      br
      br
      | El primer <b>CNIT</b> se llevará a cabo el evento el día <b>30 de Junio</b> del 2012, desde las 8 de la mañana, hasta las 5 de la tarde, en las instalaciones del teatro de la <b>Casa Italia Maracay</b>, con capacidad para <b>400 personas</b>, ubicada en la Calle Los Nísperos No. 1 - Plaza Italia, Urb. La Floresta, Maracay, Edo. Aragua.
    p.logos
      a.twitter( href="https://www.twitter.com/CNIT.VE" , target="_blank") CNIT en Twitter
      a.facebook(href="https://www.facebook.com/CNIT.VE", target="_blank") CNIT en Facebook
      br
      br
      a(href="http://tecnosoluciones.com", target="_blank")
        img(src="http://i.imgur.com/llEEM.jpg", width="150px")
      a(href="http://www.casaitaliamaracay.com/")
        img(src="http://i.imgur.com/OFeF6.jpg", width="150px")
      a(href="http://lourtec.com/")
        img(src="http://i.imgur.com/dOGHr.png", width="200px")
      a(href="https://twitter.com/#!/CDS_tic")
        img(src="http://i.imgur.com/sxjV1.png", width="200px")
      a(href="http://www.unitec.edu.ve/")
        img(src="http://www.unitec.edu.ve/img/logoUnitec.png", width="200px")
      br
      a(href="http://sadasant.com/Pasos-para-Patrocinar.pdf") ¿Quieres tu logo aquí?
      |  visita nuestros&nbsp;
      a(href="http://sadasant.com/Carta-de-Patrocinio.pdf") planes de patrocinio
      | .
  .blocks
    .block
      h2 PONENTES:
      p
        ul
          li
            b Introducción Unitec:
            br
            | Un representante de la Universidad Tecnológica del Centro abrirá el evento,
            |  haciéndoles llegar las mejores ideas y motivos para incentivar a estudiantes
            |  y profesionales a formarse de manera integra, sobre tecnologías innovadoras
            |  y como estas pueden ser aplicada exitosamente en los negocios.
          li
            b Julio Calvo, la Web 2.0 y el Software como un Servicio:
            br
            | Webmaster con más de 10 años de experiencia en la industria del desarrollo web,
            |  Julio Calvo nos hablará sobre las tendencias de las tecnologías web de última
            |  generación y cómo pueden ser aprovechadas para exponer sus marcas y para ofrecer
            |  un mejor servicio al cliente.
          li.hot
            b Contacto Internacional º1:
            br
            | 25 minutos con profesionales de habla hispana fuera del país,
            |  trayendo sus experiencias de calidad, para refrescar
            |  ideas y generar otras nuevas.
          li
            b Daniel Rodríguez <a href="http://twitter.com/tecnodaniel">@tecnodaniel</a>, Social media Empresarial.
            br
            | Más de 25 años de experiencia profesional en el desarrollo de tecnologías industriales y para empresas,
            |  a nivel internacional, además de más de 10 años como emprendedor, Daniel Rodríguez llega con un tema
            |  sumamente actualizado, nada más y nada menos que las redes sociales y cómo aprovecharlas al máximo
            |  para dar a conocer a tu empresa y para captar a los más fieles clientes.
          li.out
            b Almuerzo.
            br
            | No incluido con la entrada.
          li
            b Innovación Tecnológica.
            br
            | Entre profesores y profesionales, un tema de suma importancia y que pocos podrían dar mejor,
            |  la innovación y cómo llegar a ella, sus raices en la creatividad, de qué manera se hace posible
            |  y cómo inspirarnos para sorprender el mercado con ideas que superen paradigmas de excelencia.
          li
            b Oscar Tejada con Computación en la Nube
            br
            | Especialista en seguridad informática y en temáticas de los servicios en la nube,
            |  Oscar Tejada discutirá las nuevas tendencias de comunicación, almacenamiento y procesamiento
            |  de datos en servidores externos a través de internet, las tecnologías que hoy en día
            |  utilizan las empresas más grandes de tecnología y que hacen posible la existencia
            |  de toda clase de aplicaciones.
          li.hot
            b Contacto Internacional º2:
            br
            | 25 minutos con profesionales de habla hispana fuera del país,
            |  trayendo sus experiencias de calidad, para refrescar
            |  ideas y generar otras nuevas.
          li
            b Cierre para la acción, con Emerson Ramírez. <a href="http://twitter.com/emersonramirezs">@emersonramirezs</a>
            br
            | E. Ramírez, experto conferencista en materia de ventas, hará uso de su expereincia para resumir
            |  las herramientas aprendidas en el día, además de exponer un análisis de cómo podemos entrar a la
            |  acción, dando un paso adelante en el mercado Venezolano a través de la innovación tecnológica.
          li
            b ¡Workshops!
            br
            | Para finalizar, una galería de productos y servicios altamente innovadores será expuesta en
            |  los pasillos de salida, con información sobre sus usos, ofertas exclusivas ¡Y más!,
            |  un cierre lleno de sorpresas, para dar inicio a un sábado de fiestas, pero también
            |  ideal para irse a descansar y pensar en nuevas ideas.
    .block
      h2 ¿Quieres participar?
      | ¡Entra ya mismo en nuestra&nbsp;
      a(href="/participa/") guía para participantes
      |  y reserva tu entrada!

    .block
      h2 ¿Quieres ser "Líder de Grupo"?
      | CNIT busca "Líderes de Grupo" para formar delegaciones por institución educativa y región, es muy fácil:
      |  Al organizar un grupo de participantes de <b>mínimo diez (10) personas</b> puedes <b>ganarte tu inscripción</b> en el Congreso.
      |  Para mayor información sobre responsabilidades, beneficios y condiciones solo escribe al correo comercialización@cnit.org.ve
      |  o llama a los teléfonos: (0412) 871.25.41 para contactar a Ricardo Gonzalez, Coordinador de Comunicación y Logística de CDSTIC.
  .clearfix
  br
  a.up(href="#top")
    | Subir
