table#menu
  tr
    td
      a(href="/")
        | ENTÉRATE
    td.active
      a(href="/participa/")
        | PARTICIPA
    td
      a(href="/nosotros/")
        | SOBRE NOSOTROS
#content
  .main
    p
      | El primer <b>Congreso Nacional de Innovación Tecnológica</b>, con sede en la <b>Casa de Italia de Maracay</b> será zona de convergencia para las mejores ideas en <b>innovación y desarrollo tecnológico</b> en el país.
      | Conoce y comparte con profesionales, ingenieros, técnicos y empresarios en el campo de las Tecnologías de Información y Comunicaciones, sé parte de quienes queremos contribuir con el desarrollo de tecnologías innovadoras en <b>Venezuela</b>.
      br
      br
  .blocks
    .block
      h2 TARIFAS:
      p
        ul
          li
            b Estudiantes:
            br
            | 200Bs de Inscripción hasta el 15 de Junio de 2012.
            | 250Bs Del 15 de Junio hasta el día del evento.
          li
            b Profesional y Público en General:
            br
            | 400Bs de Inscripción hasta el 15 de Junio de 2012.
            | 450Bs Del 15 de Junio hasta el día del evento.
            br
            br
    .clearfix
    .block
      h2 ¡INSCRIBETE YA!
      p
        ol
          li Deposita en la cuenta corriente del Banco del Sur número: 0157-0061-11-376120-1080
          li Solicita tu número de inscripción enviandonos tus datos a&nbsp;
            a(href="mailto:cnit.ve@gmail.com") cnit.ve@gmail.com
            |  o llamando a los teléfonos:
            br
            br
            b Universidad Tecnológica del Centro:
            |  (0245) 564.70.92 - 564.66.77
            br
            br
            b Representantes de CDSTIC:
            ul
              li Doreina Peña (Coordinadora de Logistica, CDSTIC). Tlf: 0414-4635839
              li Ricardo Gonzalez (Coordinador de Logistica, CDSTIC). Tlf: 0412-8712541/0414-4945883
              li Luis Castro (Coordinador de Mercadeo, CDSTIC). Tlf: 0414-4387428
              li Daniel Rodríguez (Coordinador General, CDSTIC). Tlf: 0414-9436759/0414-4567822
    .block
      h2 BENEFICIOS:
      p
        ul
          li Certificado Avalado por la Universidad Tecnológica del Centro.
          li Acceso a todas las conferencias, workshops y demostraciones.
          li Inscripción en el boletín de noticias de CDSTIC.
          li Documentación del Congreso.
          li Refrigerios.
  .clearfix
