table#menu
  tr
    td
      a(href="/")
        | ENTÉRATE
    td
      a(href="/participa/")
        | PARTICIPA
    td.active
      a(href="/nosotros/")
        | SOBRE NOSOTROS
#content
  .main
    p
      | Este evento es posible gracias al esfuerzo del equipo de proyectos
      |  Centro de Desarrollo de Software y Tecnologías de Comunicación y Telecomunicaciones (CDSTIC)
      |  de la Universidad Tecnológica del Centro (UNITEC), un grupo de estudiantes comprometidos
      |  a la investigación del desarrollo y comerciabilidad de tecnologías modernas.
      br
      br
