box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  -o-box-shadow arguments
  -ms-box-shadow arguments
  box-shadow arguments

text-shadow()
  -text-text-shadow arguments
  -webkit-text-shadow arguments
  -o-text-shadow arguments
  -ms-text-shadow arguments
  text-shadow arguments

border-radius
  -moz-border-radius arguments
  -webkit-border-radius arguments
  -o-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

transition()
  -moz-transition arguments
  -webkit-transition arguments
  -o-transition arguments
  -ms-transition arguments
  transition arguments

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding 0
  margin 0
  overflow-x hidden
  background url(http://i.imgur.com/3x3IK.png)
a
  color: #00B7FF

#top,#menu,#content,#bottom
 margin 0 auto 0

#top
  width 90%
  height 119px
  text-align center
  td
    vertical-align bottom
    padding 5px 10px
    color white
    text-shadow 1px 1px 0 black
    font-size 16px
    text-align left
  img
    background white
    padding 10px
    border-radius 10px 10px 0 0
    margin-bottom -5px
    box-shadow inset 0px -3px 3px rgba(#999,.3), 3px 3px 3px rgba(#000,.3)
  td:first-child
    width 270px
  td:last-child
    text-align right

.clearfix:after
  display block
  content "."
  clear both
  visibility hidden
  line-height 0
  height 0
.clearfix
  display inlin-block
  clear both

#menu
  background #f5f5f5
  border-radius 3px 3px 0 0
  border-bottom 2px solid #ddd
  border-spacing 0
  position relative
  text-align center
  width 90%
  z-index 10
  td
    border-left  1px solid #fff
    border-right 1px solid #e5e5e5
    width 18%
    padding 10px 3%
    font-size 1.7em
    font-weight bold
    color #999
    text-shadow 1px 1px 0 white, 0px 0px 1px white
    transition all .5s ease 0s
    a
      color inherit
      text-decoration none
  td.active
    color #4EA8D0
  td:hover
    color #2B86C2
    background #eee
  td:first-child
    border-left 0
    border-radius 3px
  td:last-child
    border-right 0
    border-radius 3px

#content
  width 90%
  font-size 16px
  .main
    background white
    text-align justify
    margin -16px 0 0 0
    width 100%
    border-radius 0 0 3px 3px
    box-shadow 0px 2px 0 #aaa
    p
      padding 10px 20px 0px
    p.logos
      text-align center
      padding 10px 20px 10px
      margin-top 0px
      img
        opacity .7
        transition all .5s ease 0s
        vertical-align middle
        margin -10px 10px 10px
      img:hover
        opacity 1
      .twitter,.facebook
        padding 5px 10px
        border-radius 2px
        color white
        font-weight bold
        text-decoration none
        text-shadow -1px -1px 0 rgba(black,.3)
        margin 0 5px
        transition all .3s ease 0s
      .twitter
        background #1E9AC7
      .twitter:hover
        box-shadow inset 0px 3px 9px rgba(#64D7FE,.7), inset 0 -5px 9px rgba(#156F8D,.7)
      .facebook
        background #1D6CC6
      .facebook:hover
        box-shadow inset 0px 3px 9px rgba(#62A3FD,.7), inset 0 -5px 9px rgba(#14388C,.7)
  .block
    padding 0 20px 20px
    background #f5f5f5
    border-radius 3px
    box-shadow 0px 2px 0 #aaa
    text-align justify
    color #333
    h2
      font-size 28px
      margin-bottom 15px
      margin-top 10px
      color #333
      padding 12px 0 8px
      width 100%
      border-bottom 1px solid #ddd
    li
      margin-bottom 15px
      width 95%
      img
        float right
        max-width 300px
        border-radius 5px
        margin 20px 0 20px 20px
    li.hot
      color red
    li.out
      color gray

.up
  background #f5f5f5
  padding 10px
  color #999
  border-radius 5px
  font-weight bold
  width 50px
  text-align center
  text-shadow 1px 1px 0 white, 0px 0px 1px white
  transition all .5s ease 0s
  opacity .5
  text-decoration none
.up:hover
  color #333
  background #ddd
  opacity 1

#bottom
  color #028AE8
  width 90%
  margin-top 20px
  background rgba(black,.3)
  box-shadow inset 0 0 15px rgba(#000,.2)
  border-radius 9px
  border 1px solid #038BE8
  text-shadow 1px 1px 0px black
  text-align center
  .rights
    padding 10px
    .left
      float left
    .right
      float right
