body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #fff url("http://i.imgur.com/Pk1BX.jpg") 50% 0 no-repeat;
}
a {
  color: #00b7ff;
}
#carrousel,
#menu {
  margin: 0 auto 0;
}
.floating {
  margin-left: 60px;
  margin-top: 330px;
  height: auto;
}
.floating .white {
  float: left;
  width: 160px;
  padding: 15px 15px 10px 15px;
  font-size: 52px;
  margin: 0;
  background: #fff;
  color: #000;
}
.floating .white img {
  width: 160px;
}
.floating .black {
  background: rgba(0,0,0,0.7);
  font-size: 19px;
  color: #fff;
  float: left;
  width: 320px;
  padding: 13px 20px 12px 10px;
  margin-top: 0;
}
.floating .trans {
  float: left;
  font-size: 20px;
  color: #000;
  padding: 13px 20px 8px 10px;
}
.floating .black:hover,
.floating .trans:hover {
  color: #fff;
  background: #000;
}
.clearfix:after {
  display: block;
  content: ".";
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inlin-block;
  clear: both;
}
#menu {
  background: #f5f5f5;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  border-bottom: 2px solid #ddd;
}
#menu td {
  border-left: 1px solid #fff;
  border-right: 1px solid #e5e5e5;
  width: 18%;
  padding: 10px 3%;
  font-size: 15px;
  font-weight: bold;
  color: #999;
  text-shadow: 1px 1px 0 #fff;
}
#menu td:hover {
  color: #fff;
  text-shadow: 1px 1px 0 #333;
  background: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#menu td:first-child {
  border-left: 0;
}
#menu td:last-child {
  border-right: 0;
}
#content {
  width: 100%;
  height: 600px;
  background: #fff;
  font-size: 16px;
}
#content P:first-child {
  text-align: justify;
  width: 90%;
  margin: 0 auto 0;
  padding: 20px 0;
}
#content .blocks {
  margin-left: 5%;
}
#content .blocks .block:first-child {
  background: #f5f5f5;
}
#content .blocks .block {
  float: left;
  width: 37%;
  min-width: 420px;
  padding: 0 5%;
}
#content .blocks .block h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
#content .blocks .block .temas {
  list-style: none;
}
#content .blocks .block .temas .tema {
  margin-left: -33px;
  text-shadow: 1px 1px 1px #555;
  font-size: 22px;
  font-weight: bold;
}
#content .blocks .block li {
  margin-bottom: 15px;
}
#foot {
  width: 100%;
  margin-top: 50px;
  background: #ddd;
  text-align: center;
  -webkit-box-shadow: inset 0 50px 70px #f0f0f0;
  -moz-box-shadow: inset 0 50px 70px #f0f0f0;
  box-shadow: inset 0 50px 70px #f0f0f0;
}
#foot img {
  margin: 30px;
  height: 77px;
}
#foot .rights {
  color: #777;
  width: 100%;
  text-shadow: 1px 1px 1px #fff;
  padding: 10px 0;
}
